/*
 *      m.site.css
 *       
 *      Copyright 2014 Mario Rubiales <mario@deckard>
 *      
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */


div.pretty{
	text-align: center;
	border-top: 1px solid #ddd;
  margin-top: 10px;
}

div.prettyright{
	text-align: right;
}

div#logoapp{
	border-top: 0px;
  margin-top: 0px;
	border-bottom: 1px solid #ddd;
  margin-bottom: 18px;
}

div#escudo, div#infoplayer_header{
	border: 0px;
  margin-top: 0px;
}

div#footerhome{
	text-align: center;
}

div#footerhome small{
	margin-right: 15px;
}

th
{
border-bottom: 1px solid #d6d6d6;
}

tr:nth-child(even)
{
background-color:#DDD;
border:1px solid #DDD;
}
tr:nth-child(odd)
{
border:1px solid #DDD;
}