/*
 *      menu.css
 *       
 *      Copyright 2011 Mario Rubiales <mario@deckard>
 *      
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */


/******************REDIFINICIONES****************/
body {
	background-color: #FFFFFF;
	font-family: verdana,arial;
	color:#000000;
	font-size: 12px;
	width:1250px;
}

#header #logo{
	position:absolute;
	left:490px;
	top:20px;
	width: 265px;
	height: 255px;
	background-image: url("../images/logo.png");
	background-position:center;
	background-repeat:no-repeat;
}

#container{
	border:2px solid #BFBFBF;
	position:absolute;
	left:166px;
	top:297px;
	width: 921px;
	height: 167px;
}

#container div{
	border:1px solid #BFBFBF;
	height: 159px;
	cursor:pointer;
}


#container div:active{
	border:2px solid #BFBFBF;
}

#container div#control{
	position:absolute;
	top:3px;
	left:3px;
	width:300px;
	background-image: url("../images/opt0.png");
	background-position:center;
	background-repeat:no-repeat;
}

#container div#desktop{
	position:absolute;
	top:3px;
	left:309px;
	width:300px;
	background-image: url("../images/opt1.png");
	background-position:center;
	background-repeat:no-repeat;
}

#container div#desktop-netbook{
	position:absolute;
	top:3px;
	left:615px;
	width:300px;
	background-image: url("../images/opt2.png");
	background-position:center;
	background-repeat:no-repeat;
}

#footer{
	position:absolute;
	top:463px;
	left:170px;
	border:none;
	width: 921px;
	height: 10px;
	margin: 0px;
	margin-top: 6px;
	font-size:10px;
	color:#BCBCBC;
}


#footer #onlyfor{
	float:left;
	width:auto;
}

#footer #about{
	float:right;
	width:auto;
}
