/*
 *      site.css
 *       
 *      Copyright 2011 Mario Rubiales <mario@deckard>
 *      
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */
 

/******************REDIFINICIONES****************/
body {
	background-color: #000000;
	font-family: verdana,helvetica;
	color:#FFFFFF;
	font-size: 12px;
	width:1250px;
}

body.desktop{
	width:997px;
}

div{
	border:1px solid #BFBFBF;
}

input[type="text"]{
	background-repeat: no-repeat;
	background-color:#363636;
	cursor:pointer;
}	

input[type="text"]:focus{
	background-color:#000000;
	cursor: text;
}

input[type="button"]{
	width: 120px;
}

table{
	width: 100%;
}

table tr td{
	text-align: center;
	border:1px solid #BFBFBF;
}

input.accept{
	background-color:#009700;
	font-size: 20px;
	color:#FFFFFF;
	cursor: pointer;
}

input.modify{
	background-color:#3980ff;
	font-size: 20px;
	color:#FFFFFF;
	cursor: pointer;
}

input.cancel{
	background-color:#ff0000;
	font-size: 20px;
	color:#FFFFFF;
	cursor: pointer;
}

/*************************BACKUP POPUP**************************/

#bck_popup{
	position:absolute;
	background-image: url("../images/loader_bck.gif");
	background-repeat:no-repeat;
	background-position-y:50px;
	background-position-x:center;
	padding-top:116px;
	padding-bottom:0px;
	top:227px;
	left:305px;
	width:665px;
	height:130px;
	background-color: #558cff;
	border:2px solid #BCBCBC;
	color:#FFFFFF;
	z-index:6;
	font-size:18px;
	text-align: center;
	visibility: hidden;
}

/**************************REPORT POPUP**************************/
#report_popup{
	position:absolute;
	padding-left:50px;
	padding-top:100px;
	padding-right:40px;
	top:50px;
	left:47px;
	width:1065px;
	height:623px;
	background-color: #000000;
	border:1px solid #ffffff;
	color:#FFFFFF;
	z-index:5;
	font-size:12px;
	visibility: hidden; 
}

#report_popup.netbook {
  left: 32px;
  padding-left: 13px;
  padding-right: 38px;
  width: 879px;
}

#report_popup table{
width:510px;
font-size:12px;
color:#000000;
}

#report_popup.netbook table {
  width: 431px;
}

#report_popup table tr td{
	border:1px solid #BFBFBF;
}

#report_popup table.treport tr th{
	border:1px solid #BFBFBF;
	background-color: #263167;
	font-weight:bolder;
	color:#FFFFFF;
}

#report_popup table tr td.nameplayerreport{
	width:62%;
}

#report_popup #dsummary_report{
	float:right;
	width:auto;
}

#report_popup #dsummary_report table tr th{
	background-color: #263167;
}

#report_popup #dsummary_report table tr td{
	width:10%;
}

#report_popup #dsummary_report table tr th.headteam{
	background-color: #FFF886;
}

#report_popup #close_report{
	position:absolute;
	top:15px;
	left:1063px;
	border:none;
	width:auto;
}

#report_popup.netbook #close_report {
    left: 839px;
}

#report_popup #close_report img{
	cursor: pointer;
	padding-right:13px;
	border:none;
}

#report_popup #dplayers_report{
	float:left;
	width:auto;
}

/************************************FIN REPORT POPUP***************************************/

#main{
	width:auto;
	margin:auto;
	height:770px;
}

#header{
	width: auto;
	height: 25px;
	margin: 0px;
	margin-bottom: 2px;
	background-color: #FF5300;
	color:#FFFFFF;
	font-size:22px;
	/*letter-spacing:-2px;*/
	font-weight:bolder;
	padding-left:10px;
}

#footer{
	border:none;
	width: auto;
	height: 10px;
	margin: 0px;
	margin-top: 3px;
	font-size:11px;
	color:#b8b8b8;
}

#footer div{
	border:none;
}
#footer #flavors{
	float:left;
	width:auto;
	padding-left: 2px;
}

#footer #flavors span{
	cursor:pointer;
}
#footer #flavors span:hover{
	color:#FFFF00;
}

#footer #appversion{
	float:right;
	width:auto;
}

#main #working{
	float:left;
	width:896px;
	height:98%;
	padding:3px;
	border:0px;
}

#main #working.desktop{
	width:990px;
}

#main #working #searcher{
	position:absolute;
	width:578px;
	height:71px;
	margin:auto;
	top:40px;
}

#main #working #searcher .content #inputsearch{
	border:none;
	float:left;
	width:auto;
}

#main #working #searcher .content #inputnew{
	border:none;
	float:right;
	width:auto;
	padding-top:7px;
	padding-right:15px;
}

#main #working #searcher .content #inputnew input{
	font-size: 15px;
	width:170px;
}

#main #working #record{
	position:absolute;
	width:578px;
	height:296px;
	margin:auto;
	top:118px;
}

#main #working #lfpteams,#players4teams{
	position:absolute;
	width:285px;
	height:365px;
	margin:auto;
	top:435px;
	overflow-y: auto;
	/*no quiero scroll horizontal*/
	overflow-x: hidden;
}

#main #working #players4teams{
	left:307px;
}

#main #working #summary{
	float:right;
	width:310px;
	height:760px;
	margin:auto;
	overflow-y: auto;
	overflow-x: hidden;
}

#main #working #summary div.label{
	cursor: pointer;
}

#main #log div.label{
	cursor: pointer;
}

#main #working #summary.desktop{
	width:404px;
}

#main #log{
	float:right;
	width: 336px;
	height: 740px;
	margin:3px;
	overflow-y: auto;
	/*no quiero scroll horizontal*/
	overflow-x: hidden;
}

#main #labelcount{
	float:right;
	width:332px;
	text-align:right;
	margin-right:3px;
	font-weight:bold;
	padding-right:4px;
	background-color:#4177ff;
	color:#FFFFFF;
}

/*input del buscador*/
#main #working #searcher .content input[type="text"] {
		background-image: url("../images/search.png");
		background-position: 284px;
		color:#FFFFFF;
    border: 1px solid #D2D2F8;
    font-size:15px;
    font-family:Verdana, Helvetica;
    padding:3px;
    text-align: center;
    margin-left:2px;
    margin-top:5px;
    width: 300px;
}

#main #working #record div.content ul {
	list-style: none;
	padding-left:14px;
}


#main #working #record div.content ul li select{
	background-color: #000000;
	color:#ecff7e;
	border:1px solid #BFBFBF;
	height:30px;
	width:235px;
	padding-left:2px;
	font-size:20px;
	font-weight:bolder;
}

#main #working #record div.content #escudo{
	float:right;
	height: auto;
	width: auto;
	border: none;
	margin-right: 10px;
	margin-top:-12px;
}

#main #working #record div.content #btns_record{
	border: none;
	margin-top:25px;
	width:100%;
}

#main #working #record div.content #btns_record .loading{
	padding-top: 10px;
}

/*input del coste*/
#main #working #record div.content ul li input[type="text"]{
	background-image: url("../images/money.png");
	background-position:90px;
	background-repeat:no-repeat;
	color:#ecff7e;
	border:1px solid #BFBFBF;
	height:25px;
	width:110px;
	padding-left:4px;
	font-size:20px;
	font-weight:bolder;
	margin-left:81px;
}

#main #working .content #dnewplayer{
	margin:28px 10px 93px;
	width:415px;
	border:none;
}

#main #working .content #btns_record tr td{
	border:none;
}

#main #working .content #dnewplayer tr td, #main #working .content #dnewplayer tr th{
	text-align:left;
	padding-left:5px;
	border:none !important;
	font-size:16px;
}

#main #working .content #dnewplayer tr td input{
	border:1px solid #BFBFBF;
	height:20px;
	width:229px;
	color:#ecff7e;
	padding-left:5px;
	font-size:16px;
	font-weight:bolder;
}
#main #working .content #dnewplayer tr td input#playervalue{
	width:110px;
	background-image: url("../images/money.png");
	background-position:90px;
	background-repeat:no-repeat;
}

#main #working .content #dnewplayer tr td select{
	background-color:#000000;
	color:#ecff7e;
	border:1px solid #BFBFBF;
	height:30px;
	width:235px;
	padding-left:2px;
	padding-top:3px;
	font-size:16px;
	font-weight:bolder;
}

/**************** ABOUT E INFOUSER ******************/
#about{
	border:none;
	float:left;
	width:auto;
}

#infouser{
	position:relative;
	top:-6px;
	float:right;
	width:auto;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: normal;
	height:23px;
	border:none;
}

#infouser ul{
	list-style:none;
  padding:0px;    
}

#infouser ul li{
	display: inline;
	margin-right: 15px;
}

#infouser ul li#username{
	padding: 6px 4px 3px 36px ;
}

#infouser #username{
	background-image: url("../images/user.png");
	background-position: 9px; 
	background-repeat: no-repeat;
	cursor:pointer;
}

#infouser.desktop #username{
	cursor: default;
}

#infouser #username input{
	background-color:#FFFFFF;
	color:#000000;
	cursor:text;
	padding-left:3px;
}

#infouser #last{
	background-image: url("../images/clock.png");
	background-position: left; 
	background-repeat: no-repeat;
	cursor: default;
}

#infouser ul li#last{
	padding: 2px 0px 3px 22px;
}

#infouser #logout{
	background-image: url("../images/exit.png");
	background-position: left; 
	background-repeat: no-repeat;
	cursor: pointer;
}

#infouser ul li#logout{
	padding: 3px 6px 2px 24px ;
}

#infouser #reload{
	background-image: url("../images/reload.png");
	background-position: left; 
	background-repeat: no-repeat;
	cursor: pointer;
}

#infouser ul li#reload	{
	padding: 3px 0px 2px 24px ;
}

#infouser #back{
	background-image: url("../images/back.png");
	background-position: left; 
	background-repeat: no-repeat;
	cursor: pointer;
}

#infouser ul li#back	{
	padding: 3px 6px 2px 26px ;
}

/****************CLASES****************/
.label{
	background-color:#4177FF;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	border:1px solid #BFBFBF;
	width:auto;
	padding: 2px;
	padding-left:5px;
	margin: 2px;
}
.content{
	width: auto;
	border:none;
	margin:2px;
}
.small{
	font-size: 10px;
}
/*Agregamos scroll al autocomplete*/
.ui-autocomplete {
		max-height: 300px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
}
.playername{
	color:#ffff00;
	font-size: 36px;
	font-weight:bolder;
}

.playerdem, .playerlfp, .playerowner, .playercost{
	color:#ffffff;
	font-size: 26px;
	font-weight:bolder;
}

.loading{
	width:100%;
	border:none;
	color:#FFFF00;
	text-align: center;
	height: auto;
}

.newprop{
	color:#1E90FF;
	font-size: 23px;
}

.tsummary{
	font-size: 11px;
	font-weight:bold;
	margin-top:3px;
}
.tsummary tr td,th{
	border:1px solid #BFBFBF;
	color:#FFFFFF;
	height: 10px;
	width: 50px;
}

.tsummary tr th{
	background-color:#4177ff;
	border:1px solid #BFBFBF;
}

.tsummary tr th.headteam{
	background-color:#fff886;
	color:#000000;
	font-weight: bolder; 
	cursor: pointer;
}

.tsummary tr th.headteam:hover{
	background-color:#FFFFFF;
}

.tsummary .sresto{
	background-color: #009c00;
}

.tlog {
	font-size: 11px;
	cursor:default;
	white-space: nowrap;
}

.tlog tr td,th{
	border:1px solid #575757;
}

.tlog tr th{
	background-color:#fff886;
	color:#000000;
}

.tlog tr:nth-child(even) {background-color: #000000 }
.tlog tr:nth-child(odd) {background-color: #575757}

.tlfpteams tr td{
	background-image: url("../images/vinetateams.png");
	background-position: 3px;
	background-repeat: no-repeat;
	text-align: left;
	padding-left: 25px;
	color:#FFFFFF;
	cursor: pointer;
}

.tlfpteams tr td:hover{
	border:1px solid #FFFF00;
	color:#FFFF00;
}

.tlfpteams tr:nth-child(even) {background-color: #000000 }
.tlfpteams tr:nth-child(odd) {background-color: #263167}

.teamselected{
	background-color:#fff886;
	color:#000000 !important;
	font-weight: bolder; 
}

.tplayers4teams tr td{
	cursor:pointer;
	text-align: left;
	padding-left: 3px;
	color:#000000;
}

.tplayers4teams tr td:hover{
	background-color: #FFFFFF;
	
}

.tplayers4teams tr td.tddem{
	cursor:default;
	text-align: center;
	width: 30px;
}

.tplayers4teams tr td.tddem:hover{
	font-weight: normal;
}

.datapor{
background-color:#FAFAAA;
}

.datadef{
background-color:#CEEEF8;
}

.datamed{
background-color:#9EF49E;
}

.datadel{
background-color:#F8A8A8;
}

.tplayers4teams tr td.free,.tplayers4teams tr td.nonfree{
background-color:#009300;
color: #FFFFFF;
cursor: default;
text-align: center;
}

.tplayers4teams tr td.free:hover{
	font-weight: normal;
}

.tplayers4teams tr td.nonfree{
	background-color: #ff0000;
}
.tplayers4teams tr td.nonfree:hover{
	font-weight: normal;
}

.msgerror{
	background-image: url("../images/error.png");
	background-repeat: no-repeat;
	font-size: 18px;
	font-weight:bolder;
	text-align: center;
	width: 100%;
	border:none;
	padding-top: 50px;
}

.formacion{
	color:#4D4D4D;
	cursor:help;
}
